@font-face {
    font-family: Iransans;
    src: url(./../fonts/iransans/IRANSansX-Regular.otf);
}

/* opera & chrome & safari & Edge */
::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(186, 186, 186);
    border: 2px solid rgb(184, 184, 184);
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
}

/* All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: Iransans, sans-serif;
    overflow-x: hidden;
}

/* Start Navbar */
.navbar {
    height: 80px;
}

.learn-button {
    background-color: rgba(0, 90, 194, 1);
    color: #fff;
    border: none;
}

@media screen and (max-width: 768px) {
    .learn-button {
        display: none;
    }
}

.navbar-toggler {
    font-size: 1.25rem;
    margin-right: 1rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #000;
    font-weight: 500;
    position: relative;
}

.nav-link:hover {
    color: #000;
}

.logo-header {
    height: 2.3rem;
    top: 0;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: rgba(0, 90, 194, 1);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

@media screen and (max-width: 450px) {
    .navbar {
        padding: 0.5rem 0.2rem;
    }
}

.bg-white {
    background: rgb(255, 255, 255) !important;
    box-shadow: 0 0 0.5rem 0 rgb(151, 149, 149);
}
/* End Navbar */




/* Start Header Site */
.section-top {
    height: 40rem;
    /* border: 1px solid blue; */
}

.mainoo{
    /* border: 1px solid red; */
    position: absolute;
    /* background-color: red; */
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
}

#neon-pic{
    height: 40rem;
}

.section-top-txt h1 {
    font-weight: bold;
    font-size: 2.8rem;
}

.section-top-txt{
    /* border: 1px solid red; */
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 8rem;
    width: 50%;
}

.section-top-pic{
    /* border: 1px solid red; */
    height: 40rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
}

.section-top-txt p {
    color: rgba(102, 112, 133, 1);
}

.img-head {
    height: 32rem;
}

.head {
    background: url(../img/tile.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    margin: 0 auto;
}

.learn-button-hide {
    color: #000;
    display: none;
    background-color: #fff;
}



@media screen and (max-width: 1225px) {
    .img-head {
        height: 29rem;
    }
}

@media screen and (max-width: 1071px) {
    .img-head {
        height: 25rem;
    }

    .section-top-txt h1 {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 960px) {
    .section-top {
        height: 35rem;
    }
    
    .mainoo{
        height: 35rem;
        flex-direction: row;
    }
    
    #neon-pic{
        height: 35rem;
    }

    .img-head {
        height: 21rem;
    }

    .section-top-txt h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 880px) {
    .section-top {
        height: 30rem;
    }
    
    .mainoo{
        height: 30rem;
        flex-direction: row;
    }
    
    #neon-pic{
        height: 30rem;
    }

    .section-top-txt {
        padding-top: 15rem;
    }
}

@media screen and (max-width: 822px) {
    .img-head {
        height: 19rem;
    }
}

@media screen and (max-width: 768px) {
    .head {
        height: 42rem;
    }

    .section-top {
        height: 42rem;
    }

    .mainoo{
        border: 1px solid red;
        position: absolute;
        /* background-color: red; */
        height: 42rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    
    .section-top-txt{
        border: 1px solid red;
        height: auto;
        width: 100%;
    }
    
    .section-top-pic{
        border: 1px solid red;
        height: auto;
        width: 100%;
    }

    #neon-pic{
        height: auto;
    }

    .section-top-txt {
        padding-top: 8rem;
    }
}

@media screen and (max-width: 575px) {
    .learn-button-hide {
        display: block;
        width: 100%;
        margin-top: 2vh;
    }

    .head {
        height: 50rem;
    }

    .section-top {
        height: 50rem;
    }

    .mainoo{
        height: 50rem;
    }
}
/* End Header Site */

/* Start Whay Amlakyar */
.top-span {
    color: rgba(0, 90, 194, 1);
    font-weight: bold;
    font-size: 0.9rem;
}

.section-txt-whay {
    width: 50%;
}

.respone-span {
    font-weight: bold;
}

.section-txt-whay {
    color: rgba(102, 112, 133, 1);
}

.box-option {
    height: 15rem;
}

.box-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.box-txt {
    font-size: 0.9rem;
    color: rgba(102, 112, 133, 1);
}

@media screen and (max-width: 845px) {
    .section-txt-whay {
        width: 100%;
    }
}
/* End Whay Amlakyar */

/* Start Option Amlakyar */
@media screen and (max-width: 991px) {
    .option2 {
        flex-direction: column-reverse;
    }
}

.icon-option {
    background-color: #D8E2FF;
    width: 40px;
    height: 40px;
}

.option1-txt p,
.option2-txt p,
.option3-txt p {
    color: rgba(102, 112, 133, 1);
}

.section-txt-row {
    width: 50%;
    margin: 0 auto;
    color: rgba(102, 112, 133, 1);
}

@media screen and (max-width: 845px) {
    .section-txt-row {
        width: 100%;
    }
}

.lists-option li {
    color: rgba(102, 112, 133, 1);
    font-size: 0.9rem;
}

.lists-option li div {
    width: 25px;
    height: 25px;
    background-color: #D8E2FF;
}

.phone-main {
    width: 32rem;
}

.phone-main-tablet {
    width: 36rem;
}

@media screen and (min-width: 992px) {
    .phone-small {
        display: none;
    }

    .phone-main {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    .phone-small {
        display: block;
    }

    .phone-main {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    .phone-main {
        width: 25rem;
    }
}

@media screen and (max-width: 1160px) {
    .phone-main-tablet {
        width: 32rem;
    }
}

@media screen and (max-width: 1035px) {
    .phone-main-tablet {
        width: 28rem;
    }
}

@media screen and (max-width: 470px) {
    .phone-main-tablet {
        width: 17rem;
    }
}
/* End Option Amlakyar */

/* Start Questions */
.title-question-user {
    font-weight: bold;
}

.question-user p {
    font-size: 0.9rem;
    color: rgba(102, 112, 133, 1);
}

.btn-question-user {
    background-color: #075E54;
    color: #fff;
    border: none;
}

.accordion {
    width: 60%;
}

.accordion-button {
    background-color: #fff !important;
    column-gap: 1vh;
}

.accordion-item {
    border: none;
}

.accordion-button img {
    height: 1.3rem;
}

.accordion-button:not(.collapsed)::after {
    display: none;
}

.accordion-button::after {
    display: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body p {
    color: rgba(102, 112, 133, 1);
    font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
    .accordion {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .accordion {
        width: 90%;
    }

    .accordion-header span {
        font-size: 0.9rem;
    }

    .accordion-button img {
        height: 1.1rem;
    }
}
/* End Questions */

/* Start Download And Insta */
.phone-download {
    height: 27rem;
}

.download-fast {
    background-color: rgba(0, 90, 194, 1);
    color: #fff;
    border: none;
}

.download-qrcode {
    border: none;
}

@media screen and (max-width: 768px) {

    .download-img,
    .phone-download {
        display: none;
    }
}

.title-row-section {
    font-weight: bold;
}

@media screen and (max-width: 825px) {
    .phone-download {
        height: 20rem;
    }
}

@media screen and (max-width: 575px) {
    .download-fast {
        width: 100%;
    }

    .btns-download {
        width: 100%;
    }

    .download-qrcode {
        display: none;
    }
}

.btn-insta {
    border: none;
}

.btn-learn {
    border: none;
    background-color: rgba(0, 90, 194, 1);
    color: #fff;
}

@media screen and (max-width: 575px) {
    .btn-insta {
        width: 100%;
    }

    .btn-learn {
        width: 100%;
        margin-bottom: 1rem;
    }
}
/* End Download And Insta */

/* Start Footer */
.logo-footer {
    width: 7rem;
}

.team {
    color: rgba(102, 112, 133, 1);
    font-size: 0.9rem;
}

.coffee {
    height: 1.2rem;
}

.img-namad img {
    height: 5rem;
}

.img-social {
    column-gap: 3vh;
}

.img-social img:hover {
    cursor: pointer;
}

.txt-foot {
    color: rgba(102, 112, 133, 1);
    font-size: 0.8rem;
}

@media screen and (max-width: 830px) {
    .logo-footer {
        width: 5rem;
    }
}
/* End Footer */